body {
    margin: 0;
}

.wrapper-table {
    display: table;
    position: relative;
}

#tbl {
    border: 1px solid #4DABE4;
    margin: 52px;
}

.t-cell {
    background-color: #4DABE4;
    min-width: 50px;
    width: 50px;
    height: 50px;
}

.btn-hide {
    display: none;
}

.btn {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    cursor: pointer;
    transition: background-color .5s ease-in;
}

.plus {
    background-color: #F3A500;
}

.plus:hover {
    background-color: #f6c052;
}

.del {
    background-color: #B20000;
    opacity: 0;
}

.del:hover {
    background-color: #ca4c49 !important;
}

.del-row {
    position: absolute;
    left: 0px;
    bottom: 50px;
}

.del-cell {
    position: absolute;
    right: 50px;
    top: 0px;
}

.plus-row {
    bottom: 0px;
    left: 55px;
}

.plus-cell {
    top: 55px;
    right: 0px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeOut {
    animation-name: fadeOut;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
